<div class="post_meta">
    {{- $metadata := slice -}}
  
    <!-- Display Date if ShowDate is true -->
    {{- $displayDate := default "" (and .Site.Params.ShowDate (not .Date.IsZero) .Date) }}
    {{- if $displayDate -}}
      {{- $formattedDate := printf "<span title='%s'>%s</span>" $displayDate ($displayDate | time.Format (default "January 2, 2006" .Site.Params.DateFormat)) -}}
      {{- $metadata = $metadata | append $formattedDate -}}
    {{- end }}
  
    <!-- Show Reading Time if ShowReadingTime is true -->
    {{- if (.Param "ShowReadingTime") -}}
      {{- $readingTime := i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) -}}
      {{- $metadata = $metadata | append (printf "<span>%s</span>" $readingTime) -}}
    {{- end }}
  
    <!-- Show Word Count if ShowWordCount is true -->
    {{- if (.Param "ShowWordCount") -}}
      {{- $wordCount := i18n "words" .WordCount | default (printf "%d words" .WordCount) -}}
      {{- $metadata = $metadata | append (printf "<span>%s</span>" $wordCount) -}}
    {{- end }}
  
    <!-- Show Author if hideAuthor is not true -->
    {{- if not (.Param "hideAuthor") -}}
      {{- with (partial "author.html" .) }}
        {{- $metadata = $metadata | append (printf "<span>%s</span>" .) -}}
      {{- end }}
    {{- end }}
  
    <!-- Display Total Time if totaltime is set -->
    {{- if (.Param "totaltime") -}}
      {{- $metadata = $metadata | append (printf "<span>⏱️ %s</span>" .Params.totaltime) -}}
    {{- end }}
  
    <!-- Display Yield if yield is set -->
    {{- if (.Param "yield") -}}
      {{- $metadata = $metadata | append (printf "<span>🍽️ %s</span>" .Params.yield) -}}
    {{- end }}
  
    <!-- Output the metadata, separated by · -->
    {{- with $metadata }}
      {{- delimit . "&nbsp;–&nbsp;" | safeHTML -}}
    {{- end }}
  </div>
  