<div class="search"><div class="error message js-hidden"></div>
<div class="search-loading status message hidden"></div>

<div class="search-input hidden">
  <form id="search-form" class="search-form" action="#" method="post" accept-charset="UTF-8" role="search">
    <label for="query" class="visually-hidden"></label>
    <input type="search" id="query" name="query" class="search-text" id="search-query" placeholder="Search recipes..." maxlength="128">
  </form>
</div>
</div>

<template>
  <article>
    <div id="recipes-main" class="search-results-item">
      <li class="search-item"><a href="#">Title here</a></li>
      <!--<div class="submitted"><time class="created-date">Date here</time></div>-->
    </div>
    <!--<p class="content">Summary here</p>-->
  </article>
</template>
