{{ define "page-intro" }}
<div id="emnsue">
<img src="/images/polaroid.png" alt="mother and daughter pictured in a nostalgic polaroid, composite photo that reads em and sue in the caption.">
</div>
{{ partial "search-box.html" . }}

{{ end }}

{{ define "main"}}
<div class="divbaking-wrapper">
	<img src="/images/divbaking2.gif" alt="" id="divbaking2">
	<img src="/images/divbaking1.gif" alt="" id="divbaking1">
</div>
<div class="index-wrapper">
	<div class="ingredient-list-grid-top">
		<img src="/images/notebookArtboard-1-copy-7_r1.png" class="T-Lcorner">
		<div class="T-middle"></div>
		<img src="/images/notebookArtboard-1-copy-6_r1.png" class="T-Rcorner">
	  </div>
	  
	  <div class="ingredient-list-bind">
		<div class="ingredient-list-body">
		  <div class="ingredient-list">
			<ul id="recipes-main">
				{{ range where .Site.RegularPages "Params.type" "recipe" }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
				{{ end }}
				</ul>
		  </div>
		</div>
		<div class="ingredient-list-edge"></div>
	  </div>
	  <div class="ingredient-list-grid-bottom">
      <img src="/images/notebookArtboard-1-copy-9.png" class="B-Lcorner">
      <div class="B-middle"></div>
      <img src="/images/notebookArtboard-1-copy-8.png" class="B-Rcorner">
    </div>
</div>	
<div class="sleepleon-wrapper">
	<img src="/images/sleepleon.gif" alt="A sleeping Snorlax-like creature" id="sleepleon">
</div>
<script>

	// Define an array of colors
	const colors = ['#FAE7EB', '#E0D4E7', '#DBEEF7', '#F8EDEB', '#FCD5CE', '#FFDAB9', '#F1CEBE', '#D0EDEF', '#E1F6F2', '#F8EDEB', '#FAE1DD', '#D8E2DC',  '#F5EBE0',  '#FFF5ED',  '#FAE0D8',  '#EEECF4',  '#F7F5FF',  '#E4F4E3', '#F1EFEB', '#DDD5D5', '#D3DCE8', '#FFF1F5', '#F6EEE9', '#EEF6F2', '#E9EDC9', '#E7F1DC', '#FEFAE0', '#FFE5D9', '#FAF7F0', '#F8EDEB',  ];
  
	// Get all list items
	const listItems = document.querySelectorAll('#recipes-main li a');
  
	// Function to set random background color to each list item
	listItems.forEach(item => {
		const randomColor = colors[Math.floor(Math.random() * colors.length)];
		item.style.boxShadow = `0px 3px ${randomColor}`;
	});

</script>
{{- end}}