  {{ $title := .Get 0 }}
<div class="ingredient-wrapper">
  <div class="ingredient-list-grid">
    <div class="ingredient-list-grid-top">
      <img src="/images/notebookArtboard-1-copy-7_r1.png" class="T-Lcorner">
      <div class="T-middle"></div>
      <img src="/images/notebookArtboard-1-copy-6_r1.png" class="T-Rcorner">
    </div>
    <div class="ingredient-list-bind">
      <div class="ingredient-list-body">
        <div class="ingredient-list">
          <div>
            {{ .Inner | markdownify }}
          </div>
        </div>
      </div>
      <div class="ingredient-list-edge"></div>
    </div>
    <div class="ingredient-list-grid-bottom">
      <img src="/images/notebookArtboard-1-copy-9.png" class="B-Lcorner">
      <div class="B-middle"></div>
      <img src="/images/notebookArtboard-1-copy-8.png" class="B-Rcorner">
    </div>
  </div>
</div>